<div id="wrap">
    <span class="title">안녕하세요 972 입니다</span>
    <div class="user">
        <input type="button" class="btn" onclick=" location.href='/login'" value="로그인"/>
        <input type="button" class="btn" onclick=" location.href='/signup'" value="회원가입"/>
    </div>
</div>