<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- width: device-width로 브라우저의 너비를 모바일 기기의 width로 지정함,initial-scale: 1은 100%를 뜻함 즉 사이트의 줌을 바꾸지 않는다 -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>972회원가입</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    <form action="/user/signup" method="POST" class="signupform">

        <div class="form-group"></div>
        <label for="email">이메일</label>
        <input name="email" type="text" class="form-control">

        <div class="form-group"></div>
        <label for="password">비밀번호</label>
        <input name="password" type="text" class="form-control">

        <div class="form-group"></div>
        <label for="name">이름(견주)</label>
        <input name="name" type="text" class="form-control">
        
        <div class="form-group"></div>
        <button type="submit" class="btn btn-primary">회원가입!</button>
    </form>
    </div>
</body>
    